<style>
    .root { -fx-base: #f0f0f0; }

    .list-view, .list-view:focused {
        -fx-background-insets: 0 !important;
        -fx-background-color: transparent, white !important;
        -fx-border-color: #dcdcdc !important;
    }

    .button {
        -fx-background-color: #e1e1e1;
        -fx-background-insets: 0 !important;
    }

    .button:hover {
        -fx-background-color: #D5D5D5 !important;
        -fx-text-fill: black !important;
    }

    .delete-button:hover {
        -fx-background-color: #ffcccc !important;
        -fx-text-fill: #a10000 !important;
    }

    .button:focused {
        -fx-background-insets: 0 !important;
    }
</style>